process{
    //For general processes
    time = 2.h
    memory = 16.GB
    cpus =  1

    withLabel: seurat_process{
        time = 2.h
        memory = 16.GB
        cpus = 1
    }

    withName: HASHED_DROPS_DEMUL{
        time = 2.h
        memory = 16.GB
        cpus = 1
    }
     
}

// default from config file
params {
  max_time = 5.d
  max_memory = 385.GB
  // do not set to the max of the nodes otherwise some jobs might only run on the max nodes
  max_cpus = 48
}
