params {
    umi_count = "$projectDir/data/pbmc_umi_mtx.rds"
    hto_mat = "$projectDir/data/pbmc_hto_mtx.rds"
    
    selection_method = "vst"
    number_features = 1500
    normalisation_method = "CLR"
    margin = 2
    assay = "HTO"
    assayName = "HTO"
    demulOutPath = "$projectDir/results"
    nameOutputFile = "result"
    

}   