params {
   
    
    
    umi_count = "/Users/mylenemarianagonzalesandre/Development/Data-cluster/UMI/filtered_feature_bc_matrix"
    hto_mat = "/Users/mylenemarianagonzalesandre/Development/Data-cluster/Count/filtered_feature_bc_matrix"
    
    outdir = "$projectDir/results/"
    graphs = "$projectDir/graphs"
   
    
    
    seurat = "TRUE"
    htoMode = "TRUE"
    selection_method = "mean.var.plot"
    number_features = 2000
    assay = "HTO"
    assayName = "HTO"
    margin = 2
    ndelim = "_"
    normalisation_method = "CLR"
    seed = 42
    demulOutPath = "$projectDir/results/"
    nameOutputFile = "object"
    

   quantile_hto = 0.99
   kfunc = "clara"
   nstarts = 100
   nsamples = 100
   init = "NULL"
   nameOutputFileHTO = "resultHTO"

   multiMode = "TRUE"
   quantile_multi = 0.7
   autoThresh = "FALSE"
   maxiter = 5
   qrangeFrom = 0.1
   qrangeTo = 0.9
   qrangeBy = 0.05
   verbose =  "TRUE"
   multiSeqOutPath = "$projectDir/results/"
   nameOutputFileMulti = "resultMulti"

   visualisationSeurat = "TRUE"
   ridgePlot = "TRUE"
   ridgeNCol = 2
   featureScatter = "TRUE"
   scatterFeat1 = "NULL"
   scatterFeat2 = "NULL"
   vlnplot = "FALSE"
   vlnFeatures = "NULL"
   vlnLog = "TRUE"
   tsne = "FALSE"
   tseIdents = "Negative"
   tsneInvert = "FALSE"
   tsneVerbose = "FALSE"
   tsneApprox = "FALSE"
   tsneDimMax = 1
   tsePerplexity = 100
   heatmap = "FALSE"
   heatmapNcells = 5000
   
   hashedMode = "TRUE"
   hashedVisualisation = "TRUE"
   nameOutputFileDrops = "resultHashed"
   nameOutputFileHashed = "resultHashed"
   ambient = "NULL"
   doubletMin = 2
   minProp = 0.05
   pseudoCount = 5
   constAmbient = "FALSE"
   doubletNmads = 3
   confidenMin = 2
   confidentNmads = 3
   combinations = "NULL"
   histogram = "TRUE"
   plotLog = "TRUE"
   empty = "FALSE"
   lower = 100
   testAmbient = "FALSE"
   nameOutputEmpty = "emptyDropletsHashed"

   demuxem_mode = "TRUE"
   rna_data = "/Users/mylenemarianagonzalesandre/Development/Data-cluster/UMI/filtered_feature_bc_matrix.h5"
   hto_data = "/Users/mylenemarianagonzalesandre/Development/Data-cluster/Count/filtered_feature_bc_matrix"
   alpha = 0.0
   alpha_noise = 1.0
   tol = 1e-6
   n_threads = 1
   min_signal = 10.0
   output_demux = "demuxEm"

    hash_solo_mode = "TRUE"
    priors = [0.01, 0.8, 0.19]
    output_file = "hash_solo.csv"
    output_plot = "hash_solo.jpg"

    solo_mode = "TRUE"
    soft = "True"
    max_epochs = 100
    lr = 0.001
    output_solo = "solo_prediction.csv"


    max_time = 5.d
    max_memory = 385.GB
    // do not set to the max of the nodes otherwise some jobs might only run on the max nodes
    max_cpus = 48
    
}   
process{
    //For general processes
    conda = "/home/icb/mariana.gonzales/miniconda3/envs/demul"
    time = 2.h
    memory = 20.GB
    cpus =  2

    withLabel: seurat_process{
        conda = "/home/icb/mariana.gonzales/miniconda3/envs/demul"
        time = 2.h
        memory = 16.GB
        cpus = 1
    }

    withName: HASHED_DROPS_DEMUL{
        conda = "/home/icb/mariana.gonzales/miniconda3/envs/demul"
        time = 2.h
        memory = 16.GB
        cpus = 1
    }
    withName: SOLO_DEMUL{
        conda = "/home/icb/mariana.gonzales/miniconda3/envs/scvi-env"
        time = 2.h
        memory = 25.GB
        cpus = 2
    }
     
}

