params {
    umi_count = "$projectDir/data/pbmc_umi_mtx.rds"
    hto_mat = "$projectDir/data/pbmc_hto_mtx.rds"
    r_htoDemux = "$projectDir"
    selection_method = "vst"
    number_features = 1500
    normalisation_method = "CLR"
    margin = 2
    assay = "HTO"
    assayName = "HTO"
    kfunc = "clara"
    htoDemuxOutPath = "$projectDir/results"
    ridgePlot = TRUE
    ridgeNCol = 2
    featureScatter = TRUE
    scatterFeat1 = "hto_HTO-A"
    scatterFeat2 = "hto_HTO-B"
    vlnplot = TRUE
    vlnFeatures = "nCount_RNA"
    vlnLog = TRUE
    tsne = TRUE
    tseIdents = "Negative"
    tsneInvert = TRUE
    tsePerplexity = 100
    heatmap = TRUE
    heatmapNcells = 5000
    cluster = FALSE
    clusterIdents = "Singlet"
    reductionMethod = "pca"
    reductionResol = 0.1
    dimPlot = TRUE


}   